<div class="container">
  <p>
    <md-checkbox>Check me!</md-checkbox>
  </p>

  <form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Input" value="value">
    </md-form-field>
  </form>

  <md-radio-group>
    <md-radio-button value="1">Option 1</md-radio-button>
    <md-radio-button value="2">Option 2</md-radio-button>
  </md-radio-group>

  <md-horizontal-stepper [linear]="isLinear">
    <md-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template mdStepLabel>Fill out your name</ng-template>
        <md-form-field>
          <input mdInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </md-form-field>
        <div>
          <button md-button mdStepperNext>Next</button>
        </div>
      </form>
    </md-step>
    <md-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template mdStepLabel>Fill out your address</ng-template>
        <md-form-field>
          <input mdInput placeholder="Address" formControlName="secondCtrl" required>
        </md-form-field>
        <div>
          <button md-button mdStepperPrevious>Back</button>
          <button md-button mdStepperNext>Next</button>
        </div>
      </form>
    </md-step>
    <md-step>
      <ng-template mdStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button md-button mdStepperPrevious>Back</button>
      </div>
    </md-step>
  </md-horizontal-stepper>







  <h2>Users</h2>

  <ul>
    <li class="grey-block" *ngFor="let user of users;" (click)="redirectToPost(user)">
      <div><b>{{user.name}}</b></div>
      <div>
        <a href="mailto:{{user.email}}">{{user.email}}</a>
      </div>
      <div>{{user.company.name}}</div>
    </li>
  </ul>
</div>

